{% extends "/index.html" %}
{% block content %}
    {#    <script src="{{url_for('static', filename='ckeditor/ckeditor.js')}}"></script>#}
    <style>
        #uploadfile_input{
            opacity: 0;
        }
    </style>
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject font-dark sbold uppercase">账户信息编辑</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form class="form-horizontal" role="form" name="test">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">账户名称</label>
                                        <div class="col-md-10">
                                            <input id="account_name" class="form-control" name="account_name"
                                                   value="{{ data["account_name"] }}">
                                        </div>
                                    </div>
                                    <br>
                                    <hr>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">账户密码</label>
                                        <div class="col-md-10">
                                            <input class="form-control" type="text" id="account_password"
                                                   value="{{ data["account_password"] }}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 control-label">账户等级</label>
                                        <div class="col-md-10">
                                            <input class="form-control" type="number" id="account_rank"
                                                   value="{{ data["account_rank"] }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">已文章数量</label>
                                            <div class="col-md-10">
                                            <input class="form-control" type="number" id="account_article_num"
                                                   value="{{ data["account_article_num"] }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class=" col-md-11 text-right">
                                            <button type="button" class="btn green"
                                                    onclick="modify_monitor_data()">提交
                                            </button>
                                            <button type="button" class="btn green"
                                                    onclick="stop_information_content()">取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/JavaScript">

        function modify_monitor_data() {
            var formData = new FormData();
            formData.append('account_name', $('#account_name').val());
            formData.append('id', {{data["id"]}});
            formData.append('account_password', $('#account_password').val());
            formData.append('account_rank', $("#account_rank").val());
            formData.append('account_article_num', $("#account_article_num").val());

            layer.confirm('是否修改？', {
                btn: ['确认', '取消']
            }, function () {
                $.ajax({
                    url: '{{ url_for('new_flash.modify_account_info')}}',
                    type: 'post',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data) {
                        if (data.success == 'ok') {
                            layer.msg("修改成功", {time: 1000, icon: 1});
                            window.localStorage.setItem("info_reload", "true");
                            window.history.go(-1);
                        }
                        else {
                            layer.msg(data.failed, {time: 1000, icon: 5})
                        }
                    }
                });
            }, function () {
                layer.msg("已取消", {time: 1000, icon: 2});
                return false
            });
        }

        function stop_information_content() {
            layer.confirm('是否放弃当前编辑内容？', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                window.localStorage.setItem("info_reload", "true");
                window.history.go(-1);
            }, function () {
                layer.msg('未放弃，真棒！', {time: 1000, icon: 6});
                return false;
            });
        }

    </script>
{% endblock %}

