{% extends "/index.html" %}
{% block content %}
    {#    <script src="{{url_for('static', filename='ckeditor/ckeditor.js')}}"></script>#}
    <style>
        #uploadfile_input{
            opacity: 0;
        }
    </style>
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject font-dark sbold uppercase">账户信息编辑</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form class="form-horizontal" role="form" name="test">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">账户名称</label>
                                        <div class="col-md-10">
                                            <input id="account_name" class="form-control" name="account_name"
                                                   value="{{ data["account_name"] }}">
                                        </div>
                                    </div>
                                    <br>
                                    <hr>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">账户昵称</label>
                                        <div class="col-md-10">
                                            <input id="account_name" class="form-control" name="nick_name"
                                                   value="{{ data["nick_name"] }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">账户密码</label>
                                        <div class="col-md-10">
                                            <input class="form-control" type="text" id="account_password"
                                                   value="{{ data["account_password"] }}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 control-label">账户等级</label>
                                        <div class="col-md-10">
                                            <input class="form-control" type="number" id="account_rank"
                                                   value="{{ data["account_rank"] }}">
                                        </div>
                                    </div>
{#                                    <div class="form-group">#}
{#                                        <label class="col-md-1 control-label">已文章数量</label>#}
{#                                            <div class="col-md-10">#}
{#                                            <input class="form-control" type="number" id="account_article_num"#}
{#                                                   value="{{ data["account_article_num"] }}">#}
{#                                        </div>#}
{#                                    </div>#}
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">总阅读数量</label>
                                            <div class="col-md-10">
                                            <input class="form-control" type="number" id="total_read_num"
                                                   value="{{ data["total_read_num"] }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">总播放量</label>
                                            <div class="col-md-10">
                                            <input class="form-control" type="number" id="total_play_num"
                                                   value="{{ data["total_play_num"] }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">总订阅量</label>
                                            <div class="col-md-10">
                                            <input class="form-control" type="number" id="total_subscribe_num"
                                                   value="{{ data["total_subscribe_num"] }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">账户指数</label>
                                            <div class="col-md-10">
                                            <input class="form-control" type="number" id="account_index"
                                                   value="{{ data["account_index"] }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">信用分</label>
                                            <div class="col-md-10">
                                            <input class="form-control" type="number" id="credit_score"
                                                   value="{{ data["credit_score"] }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">账户类型</label>
                                        <div class="col-md-10">
                                            <select class="form-control input-small" id="account_type">
                                                <option value=0 {% if data["account_type"] == 0 %}
                                                        selected {% endif %}>3级图文原创</option>
                                                <option value=1 {% if data["account_type"] == 1 %}
                                                        selected {% endif %}>2级图文原创</option>
                                                <option value=2 {% if data["account_type"] == 2 %}
                                                        selected {% endif %}>3级非图文原创</option>
                                                <option value=3 {% if data["account_type"] == 3 %}
                                                        selected {% endif %}>2级非图文原创</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 control-label">账户所属平台</label>
                                        <div class="col-md-10">
                                            <select class="form-control input-small" id="platform_type">
                                                {% for x in platform_ls %}
                                                    {% if data["account_type"] == x["id"] %}
                                                        <option value={{ x["id"] }} selected>{{ x["platform_name"] }}</option>
                                                    {% else %}
                                                        <option value={{ x["id"] }}>{{ x["platform_name"] }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 control-label">账户分类</label>
                                        <div class="col-md-10">
                                            <select class="form-control input-small" id="category_type">
                                                {% for x in category_ls %}
                                                    {% if data["account_type"] == x["id"] %}
                                                        <option value={{ x["id"] }} selected>{{ x["category_name"] }}</option>
                                                    {% else %}
                                                        <option value={{ x["id"] }}>{{ x["category_name"] }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class=" col-md-11 text-right">
                                            <button type="button" class="btn green"
                                                    onclick="modify_monitor_data()">提交
                                            </button>
                                            <button type="button" class="btn green"
                                                    onclick="stop_information_content()">取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/JavaScript">

        function modify_monitor_data() {
            var formData = new FormData();
            formData.append('account_name', $('#account_name').val());
            formData.append('id', {{data["id"]}});
            formData.append('account_password', $('#account_password').val());
            formData.append('account_rank', $("#account_rank").val());
            {#formData.append('account_article_num', $("#account_article_num").val());#}
            formData.append('account_type', $("#account_type").val());
            formData.append('total_read_num', $("#total_read_num").val());
            formData.append('total_play_num', $("#total_play_num").val());
            formData.append('total_subscribe_num', $("#total_subscribe_num").val());
            formData.append('account_index', $("#account_index").val());

            formData.append('credit_score', $("#credit_score").val());
            formData.append('platform_type', $("#platform_type").val());
            formData.append('category_type', $("#category_type").val());

            layer.confirm('是否修改？', {
                btn: ['确认', '取消']
            }, function () {
                $.ajax({
                    url: '{{ url_for('new_flash.modify_account_info')}}',
                    type: 'post',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data) {
                        if (data.success == 'ok') {
                            layer.msg("修改成功", {time: 1000, icon: 1});
                            window.localStorage.setItem("info_reload", "true");
                            window.history.go(-1);
                        }
                        else {
                            layer.msg(data.failed, {time: 1000, icon: 5})
                        }
                    }
                });
            }, function () {
                layer.msg("已取消", {time: 1000, icon: 2});
                return false
            });
        }

        function stop_information_content() {
            layer.confirm('是否放弃当前编辑内容？', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                window.localStorage.setItem("info_reload", "true");
                window.history.go(-1);
            }, function () {
                layer.msg('未放弃，真棒！', {time: 1000, icon: 6});
                return false;
            });
        }

    </script>
{% endblock %}

