{% extends "index.html" %}
{% import 'macro_pagination.html' as macro_pagination %}
{% block content %}
    <style>


        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        #invite_code_table td, #invite_code_table th {
            word-wrap: break-word;
            word-break: break-all;
        }

        .layui-layer-tips {
            word-break: break-all;
        }
    </style>
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>邀请码列表页
                        <small></small>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">

                        <div class="row" style="padding-top: 10px">
                            <div class="col-md-8">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-circle dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" id="toggle_menu"
                                            aria-expanded="false" style="background: #fb7575;color: #fff;">全部 &nbsp;&nbsp;<span
                                            class="caret"></span>
                                    </button>
{#                                    <ul class="dropdown-menu">#}
{#                                        <li><a href="/planet/planet_info?select_id=0" class="btn btn-circle ">全部 </a>#}
{#                                        </li>#}
{#                                        <li><a href="/planet/planet_info?select_id=1" class="btn btn-circle ">状态1 </a>#}
{#                                        </li>#}
{#                                        <li><a href="/planet/planet_info?select_id=2" class="btn btn-circle ">状态2 </a>#}
{#                                        </li>#}
{#                                    </ul>#}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button onclick="generate_invite_code()" class="btn btn-circle pull-right"
                                        style="background: #b07cc6;color: #fff;">生成邀请码
                                </button>
                            </div>
                        </div>

                        <div class="portlet-body">
                            <div class="table-scrollable">
                                <table class="table table-hover table-striped table-bordered" id="invite_code_table">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>邀请码</th>
                                        <th>已分享<br />次数</th>
                                        <th>已参与<br />次数</th>
                                        <th>生成时间</th>
                                        <th>失效时间</th>
                                        <th>是否可用</th>
                                        <th>操作</th>
                                        <th>是否展示</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for info in data %}
                                        <tr>
                                        <td><a href="/planet/modify_invite_code?id={{ info.id }}">{{ info.id }}</a></td>
                                        <td>{{ info.code }}</td>
                                        <td>{{ info.number }}</td>
                                        <td>{{ info.number1 }}</td>
                                        <td>{{ info.createtime }}</td>
                                        <td>{{ info.invalidtime }}</td>
                                        <td>
                                            {% if info.status == 1 %}
                                                可用
                                            {% else %}
                                                不可用
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if info.status == 1 %}
                                                <button type="button"
                                                        class="btn blue btn-default glyphicon glyphicon-trash invite_status"
                                                        title="可用" data-invite_status="0" data-info-id="{{ info.id }}"></button>
                                            {% else %}
                                                <button type="button"
                                                        class="btn btn-default glyphicon glyphicon-trash invite_status"
                                                        title="不可用" data-invite_status="1" data-info-id="{{ info.id }}"></button>
                                            {% endif %}
                                        </td>

                                        <td>
                                            {% if info.visibility == 1 %}
                                                展示
                                            {% else %}
                                                不展示
                                            {% endif %}
                                        </td>

                                        <td>
                                            {% if info.visibility == 1 %}
                                                <button type="button"
                                                        class="btn blue btn-default glyphicon glyphicon-eye-close invite_visibility"
                                                        title="展示"  data-invite_visibility="0" data-info-id="{{ info.id }}"
                                                        ></button>
                                            {% else %}
                                                <button type="button"
                                                        class="btn btn-default glyphicon glyphicon-eye-open invite_visibility"
                                                        title="不展示" data-invite_visibility="1" data-info-id="{{ info.id }}"></button>
                                            {% endif %}
                                        </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation" class="text-center">
                        <ul class="pagination">{{ html|safe }}</ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <script>

        var invite_reload = window.localStorage.getItem("invite_reload");
        if (invite_reload == "true") {
            window.localStorage.setItem("invite_reload", "false");
            window.location.reload();
        }
        $(document).on("click",".invite_visibility",function () {
            var $this = $(this);
            var this_info_id = $this.data("info-id");
            var this_visibility = $this.data("invite_visibility");
            console.log("===", this_visibility);

            layer.confirm('是否改变Visibility？', {
                btn: ['是', '否']
            }, function () {
                $.ajax({
                    url: '{{ url_for('planet.modify_invite_visibility')}}',
                    type: 'post',
                    data: {
                        code_id: this_info_id,
                        visibility : this_visibility
                    },
                    success: function (data) {
                        if (data.success == 'ok') {
                            layer.msg(data.msg, {time: 1500, icon: 1});
                            window.localStorage.setItem("news_notification_reload", "true");
                            window.history.go(-1);
                        }
                        else {
                            layer.msg("修改失败！", {time: 1500, icon: 5});
                            return false
                        }
                    }
                });
            }, function () {
                layer.msg("已取消", {time: 1500, icon: 2});
                return false
            });
         });

        $(document).on("click",".invite_status",function () {
            var $this = $(this);
            var this_info_id = $this.data("info-id");
            var this_status = $this.data("invite_status");

            layer.confirm('是否改变Status？', {
                btn: ['是', '否']
            }, function () {
                $.ajax({
                    url: '{{ url_for('planet.modify_invite_status') }}',
                    type: 'post',
                    data: {
                        code_id: this_info_id,
                        status : this_status
                    },
                    success: function (data) {
                        if (data.success == 'ok') {
                            layer.msg("修改成功！", {time: 1500, icon: 1});
                            location.reload();
                        }
                        else {
                            layer.msg("修改失败！", {time: 1500, icon: 5});
                            return false
                        }
                    }
                });
            }, function () {
                layer.msg("已取消", {time: 1500, icon: 2});
                return false
            });
         });








        //获取地址栏参数，name:参数名称
        function getUrlParms(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null)
                return unescape(r[2]);
            return null;
        }

        $(function () {
            var select_id = getUrlParms("select_id");
            switch (select_id) {
                case "1":
                    $("#toggle_menu").html('状态1 <span class="caret"></span>');
                    break;
                case "2":
                    $("#toggle_menu").html('状态2 <span class="caret"></span>');
                    break;
                default:
                    $("#toggle_menu").html('全部 <span class="caret"></span>');
            }
        });

        function generate_invite_code() {
            location.href = "{{ url_for('planet.generate_invite_code') }}"
        }


    </script>
{% endblock %}