{% extends "index.html" %}
{% import 'macro_pagination.html' as macro_pagination %}
{% block content %}

    <style>
        {#        #planet_info_table td,#planet_info_table th { word-wrap: break-word;  word-break: break-all;}#}

        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        .layui-layer-tips {
            word-break: break-all;
        }
    </style>
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>星球主信息页
                        <small></small>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">

                        <div class="row" style="padding-top: 10px">
                            <div class="col-md-8">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-circle dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" id="toggle_menu"
                                            aria-expanded="false" style="background: #fb7575;color: #fff;">全部&nbsp;&nbsp;<span
                                            class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/planet/planet_owner?select_id=0" class="btn btn-circle ">全部</a>
                                        </li>
                                        <li><a href="/planet/planet_owner?select_id=1" class="btn btn-circle ">状态1</a>
                                        </li>
                                        <li><a href="/planet/planet_owner?select_id=2" class="btn btn-circle ">状态2</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <button onclick="add_planet_owner()" class="btn btn-circle pull-right"
                                        style="background: #b07cc6;color: #fff;">新增星球主
                                </button>
                            </div>
                        </div>

                        <div class="portlet-body">
                            <div class="table-scrollable">
                                <table class="table table-hover table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>星球主<br/>编号</th>
                                        <th>客户编号</th>
                                        <th>数字身份</th>
                                        <th>财富</th>
                                        <th>等级</th>
                                        <th>简介</th>
                                        <th>状态<br/>(是否可用)</th>
                                        <th>是否删除</th>
                                        <th width="100">创建时间</th>
                                        <th width="100">更新时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for info in data %}
                                        <tr>
                                            <td><a href="/planet/modify_planet_owner?sn={{ info.sn }}"
                                                   class="owner_sn">{{ info.sn }}</a></td>
                                            <td>
                                                <button class="btn btn-group btn-primary ow_owner_no"
                                                        title="{{ info.owner_no }}">查看
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-group btn-primary ow_customer_no"
                                                        title="{{ info.customer_no }}">查看
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-group btn-primary ow_digital_identity"
                                                        title="{{ info.digital_identity }}">查看
                                                </button>
                                            </td>
                                            <td>{{ info.wealth }}</td>
                                            <td>{{ info.grade }}</td>
                                            <td>{{ info.remark }}</td>
                                            <td>{{ info.status }}</td>
                                            <td>
                                                {% if info.is_delete == 0 %}
                                                    X
                                                {% elif info.is_delete == 1 %}
                                                    √
                                                {% else %}
                                                    {{ info.is_delete }}
                                                {% endif %}
                                            </td>
                                            <td>{{ info.create_time }}</td>
                                            <td>{{ info.update_time }}</td>
                                            <td>
                                                <a href="/planet/modify_planet_owner?sn={{ info.sn }}"
                                                   class="btn btn-danger glyphicon glyphicon-pencil" title="编辑"></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation" class="text-center">
                        <ul class="pagination">{{ html|safe }}</ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <script>
        var planet_owner_reload = window.localStorage.getItem("planet_owner_reload");
        if (planet_owner_reload == "true") {
            window.localStorage.setItem("planet_owner_reload", "false");
            window.location.reload();
        }

        $(".ow_digital_identity, .ow_customer_no, .ow_owner_no").click(function () {
            layer.tips($(this).attr('title'), $(this), {
                tips: [1, '#0FA6D8'] //还可配置颜色
            });
        });

        //获取地址栏参数，name:参数名称
        function getUrlParms(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null)
                return unescape(r[2]);
            return null;
        }


        $(function () {
            var select_id = getUrlParms("select_id");
            switch (select_id) {
                case "1":
                    $("#toggle_menu").html('状态1 <span class="caret"></span>');
                    break;
                case "2":
                    $("#toggle_menu").html('状态2 <span class="caret"></span>');
                    break;
                default:
                    $("#toggle_menu").html('全部 <span class="caret"></span>');
            }
        });

        function add_planet_owner() {
            location.href = "{{ url_for('planet.add_planet_owner') }}"
        }
    </script>
{% endblock %}