{% extends "/index.html" %}
{% block content %}
    <style>
        #uploadfile_input{
            opacity: 0;
        }
    </style>
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="portlet light bordered">
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/banner_list">Banner列表</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="active">新增Banner</span>
                                <span id="base_pic" class=""></span>
                            </li>
                        </ul>
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject font-dark sbold uppercase">新增Banner</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form class="form-horizontal" role="form" name="test">
                                {#                                        {{form.hidden_tag()}}#}
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Banner图片</label>
                                        <div class="col-md-10">
                                            <img src="" alt="" id="banner_img" width="750" height="340">
                                            <input type="file" id="uploadfile_input" value="">
                                            <label for="uploadfile_input" class='btn btn-danger'>选择图片</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">描述</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control" name="desc" rows="3" id="desc"
                                                      value=""></textarea>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">是否上架</label>
                                        <label class="checkbox checkbox-inline" for="debugInfo">
                                            <input id="is_show" type="checkbox" name="push" value=""
                                                   class="input-small"/>
                                            {#                                                <input id="is_show" type="checkbox" name="push" value="{" class="input-small" checked/>#}
                                        </label>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-10">
                                            <button type="button" class="btn red btn-lg glyphicon glyphicon-ok"
                                                    title="确认新增" onclick="add_banner()"></button>
                                            <button type="button" class="btn green btn-lg glyphicon glyphicon-remove"
                                                    title="取消新增" onclick="window.history.go(-1)"></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/JavaScript">
        $(function () {
            $("#banner_img").click(function () {
                $("#uploadfile_input").trigger("click");
            });
            $("#uploadfile_input").change(function () {
                var img_src = $("#uploadfile_input").val();

                var formData = new FormData();
                formData.append("file", $("#uploadfile_input")[0].files[0]);
                formData.append('base_pic_url', $('#banner_img').attr("src"));
                formData.append('img_url', img_src);
                $.ajax({
                    url: "{{ url_for("new_flash.get_img_url") }}",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        $('#banner_img').attr("src", data['base_pic_url']);
                        $('#base_pic').attr("class", data['img_url']);
                    }
                })
            });
        });


        function add_banner() {
            if ($('#desc').val() == "" || $("#uploadfile_input").val() == "") {
                layer.msg("图片和描述都搞定了？请重新操作！", {time: 1000, icon: 5});
                return false
            }

            layer.confirm('是否添加该条Banner', {
                btn: ['确认', '取消']
            }, function () {
                var formData = new FormData();
                var is_show = $("#is_show").is(":checked");
                var show = 0;
                if (is_show == true) {
                    show = 1;
                }
                formData.append("img", $("#uploadfile_input")[0].files[0]);
                formData.append('desc', $('#desc').val());
                formData.append('base_pic_url', $('#banner_img').attr("src"));
                formData.append('img_url', $('#base_pic').attr("class"));
                formData.append('is_show', show);
                $.ajax({
                    url: '{{ url_for('new_flash.add_banner')}}',
                    type: 'post',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data) {
                        if (data.success == 'ok') {
                            layer.msg("添加成功！", {time: 1500, icon: 1});
                            window.location.href = "/banner_list";
                        }
                        else {
                            layer.msg(data.failed, {time: 1500, icon: 5});
                            return false
                        }
                    }
                });
            }, function () {
                layer.msg("已取消", {time: 1500, icon: 2});
                return false
            });
        }


    </script>
{% endblock %}

