{% extends "/index.html" %}
{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject font-dark sbold uppercase">快讯内容编辑</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form class="form-horizontal" role="form" name="test">
                                {#                                        {{form.hidden_tag()}}#}
                                <div class="form-body">

                                    <div class="form-group">
                                        {#                                                <label class="control-label col-md-1">原文内容</label>#}
                                        <div class="col-md-5 col-md-offset-1">
                                            <h4><strong>原文内容</strong></h4>
                                            <br>
                                            {% if data[0].info %}
                                                <textarea name="editor2" id="editor2" class=”ckeditor”
                                                          onload="setDisabled()"
                                                          value="{{ data[0].info.content }}">{{ data[0].info.content }}</textarea>
                                                <script>
                                                    var editor2 = CKEDITOR.replace('editor2');
{#                                                    editor2.setReadOnly(true)#}
                                                </script>
                                            {% else %}
                                                <s>无可对比原文。</s>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-5">
                                            <h4><strong>快讯标题</strong></h4>
                                            {% if data[0].title == "" %}
                                                <input type="text" id="in_title" class="form-control" placeholder="该快讯暂无标题，标题可为空。">
                                            {% else %}
                                                <input type="text" id="in_title" class="form-control" value="{{ data[0].title }}">
                                            {% endif %}

                                            <br>
                                            <h4><strong>摘要</strong></h4>
                                            <textarea name="editor1" id="editor1" class=”ckeditor” rows="100" cols="200"
                                                      value="{{ data[0]["content"] }}">
                                                        {{ data[0]["content"] }}
                                                    </textarea>
                                            <script>
                                                var editor1 = CKEDITOR.replace('editor1', {
                                                    toolbarStartupExpanded: false
                                                });
                                            </script>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">类型</label>
                                        <div class="col-md-10">
                                            <select class="form-control input-small" id="category">
                                                {% for row in rows %}
                                                    {% if data[0]["category"] == row['id'] %}
                                                        <option value="{{ row['id'] }}"
                                                                selected>{{ row['catname'] }}</option>
                                                    {% else %}
                                                        <option value="{{ row['id'] }}">{{ row['catname'] }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">重要</label>
                                        <div class="col-md-11">
                                            <div class="mt-checkbox-list">
                                                <label class="mt-checkbox-outline">
                                                    {% if data[0]["highlight_color"] == 0 %}
                                                        <input id="highlight_color" type="checkbox"
                                                               value="{{ data[0]["highlight_color"] }}"/>
                                                    {% else %}
                                                        <input id="highlight_color" type="checkbox"
                                                               value="{{ data[0]["highlight_color"] }}" checked/>
                                                    {% endif %}
                                                    <span style="color: red;">&nbsp;&nbsp;&nbsp;(选择后，该条快讯会被标红显示)</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-1 control-label">推送&展示</label>
                                        <div class="col-md-10">
                                            <div class="mt-checkbox-list">
                                                <label class="mt-checkbox-outline">
                                                    {% if data[0]["is_push"] == 0 %}
                                                        <input id="is_push" type="checkbox" name="push"
                                                               value="{{ data[0]["is_push"] }}"/>
                                                    {% else %}
                                                        <input id="is_push" type="checkbox" name="push"
                                                               value="{{ data[0]["is_push"] }}" checked/>
                                                    {% endif %}

                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">仅展示</label>
                                        <div class="col-md-10">
                                            <div class="mt-checkbox-list">
                                                <label class="mt-checkbox-outline">
                                                    {% if data[0]["is_show"] == 0 %}
                                                        <input id="is_show" type="checkbox" name="push"
                                                               value="{{ data[0]["is_show"] }}"/>
                                                    {% else %}
                                                        <input id="is_show" type="checkbox" name="push"
                                                               value="{{ data[0]["is_show"] }}" checked/>
                                                    {% endif %}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">备注</label>
                                        <div class="col-md-10">
                                            <textarea id="remarks" class="form-control" rows="3"
                                                      value="{{ data[0]["remarks"] }}">{{ data[0]["remarks"] }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-11 text-right">
                                            <button type="button" class="btn green"
                                                    onclick="modify_new_flash_content()">提交
                                            </button>
                                            <button type="button" class="btn green" onclick="stop_new_flash_content()">
                                                取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/JavaScript">

        function modify_new_flash_content() {
            var is_push = $("#is_push").is(":checked");
            var push = 0;
            if (is_push == true) {
                push = 1;
            }
            var is_show = $("#is_show").is(":checked");
            var show = 0;
            if (is_show == true) {
                show = 1;
            }
            var is_highlight_color = $("#highlight_color").is(":checked");
            var highlight_color = 0;
            if (is_highlight_color == true) {
                highlight_color = 1
            }

            var title = $('#in_title').val();

            var content = editor1.getData();
            if (content == "") {
                layer.msg("内容不可为空！", {time: 1000, icon: 2});
                return false
            }
            layer.confirm('是否修改？', {
                btn: ['确认', '取消']
            }, function () {
                $.ajax({
                    url: '{{ url_for('new_flash.modify_new_flash')}}',
                    type: 'post',
                    data: {
                        id:{{data[0]["id"]}},
                        content_text:editor1.document.getBody().getText(),
                        content: editor1.getData(),
                        title : title,
                        category: $("#category").val(),
                        is_push: push,
                        is_show: show,
                        highlight_color: highlight_color,
                        remarks: $('#remarks').val()
                    },
                    success: function (data) {
                        if (data.success == 'ok') {
                            layer.msg("修改成功！", {time: 1000, icon: 1});
                            window.localStorage.setItem("reload", "true");
                            window.history.go(-1);
                        }
                        else {
                            layer.msg(data.failed, {time: 1000, icon: 5})
                        }
                    }
                });
            }, function () {
                layer.msg("已取消", {time: 1000, icon: 2});
                return false
            });
        }

        {#        function stop_new_flash_content(){#}
        {#            window.location.href = "/new_flash_list"#}
        {#        }#}

        function stop_new_flash_content() {
            layer.confirm('是否放弃当前编辑内容？', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                window.localStorage.setItem("reload", "true");
                window.history.go(-1);
            }, function () {
                layer.msg('未放弃，真棒！', {time: 1000, icon: 6});
                return false;
            });
        }


        // 多选按钮实现有你没我
        $(function () {
            $("input[name=push]").click(function () {
                var this_checked = $(this).prop("checked");
                if (this_checked) {
                    $("input[name=push]").prop("checked", false);
                    $(this).prop("checked", true);
                } else {
                    $(this).prop("checked", false);
                }
            });
        });

    </script>
{% endblock %}

