{% extends "/index.html" %}
{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="portlet light bordered">
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/article_list">文章发送设置列表</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="active">新增文章发送设置信息</span>
                            </li>
                        </ul>
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject font-dark sbold uppercase">文章发送设置新增</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form class="form-horizontal" role="form" name="test">
                                {#                                        {{form.hidden_tag()}}#}
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-1">账 户</label>
                                        <div class="col-md-10">
                                            <select class="form-control" id="account_name">
                                                {% for x in data %}
                                                    <option value={{x["id"]}}>{{x["account_name"]}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="control-label col-md-1">文章类型</label>
                                            <div class="col-md-10">
                                                <select class="form-control" id="article_type">
                                                    <option value=1>原创</option>
                                                    <option value=2>解盘(币莱解盘)</option>
                                                    <option value=3>视频(币莱播报)</option>
                                                    <option value=4>音频</option>
                                                    <option value=5>PDF</option>
                                                    <option value=6>早报</option>
                                                    <option value=7>晚报</option>
                                                </select>
                                            </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-1">发送类型</label>
                                        <div class="col-md-10">
                                            <select class="form-control" id="send_type">
                                                <option value=0>手动发送</option>
                                                <option value=1>定时发送</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">发送类型</label>
                                        <input type="text" value="2017-07-31 17:58" id="datetimepicker"  class="form_datetime" data-date-format="yyyy-mm-dd hh:ii">
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-11 text-right">
                                            <button type="button" class="btn green" onclick="add_information_content()">
                                                提交
                                            </button>
                                            <button type="button" class="btn green" onclick="stop_new_flash_content()">
                                                取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/JavaScript">

        function add_information_content() {
            var article_type = $('#article_type').val()
            var formData = new FormData();
            formData.append('account_name', $('#account_name').val());
            formData.append('article_type', article_type);
            formData.append('send_type', $('#send_type').val());

            layer.confirm('是否添加？', {
                    btn: ['确认', '取消']
                },
                function () {
                    $.ajax({
                        url: '{{ url_for('new_flash.add_article_upload_set')}}',
                        type: 'post',
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (data) {
                            if (data.success == 'ok') {
                                layer.msg("添加成功！", {time: 1000, icon: 1});
                                window.location.href = "/article_upload_set";
                            }
                            else {
                                layer.msg(data.msg, {time: 1000, icon: 5});
                                return false
                            }
                        }
                    });
                },
                function () {
                    layer.msg("已取消", {time: 1000, icon: 2});
                    return false
                });
        }

        $(function () {
                $("#title_img").click(function () {
                    $("#uploadfile_input").trigger("click");
                });
                $("#uploadfile_input").change(function () {

                    var file = $("#uploadfile_input").val();
                    if (!/.(gif|jpg|jpeg|png|JPG)$/.test(file)) {
                        layer.msg("图片类型必须是.jpeg,jpg,png中的一种", {time: 2000, icon: 2});
                        return false;
                    } else {

                        var image = $("#uploadfile_input")[0].files[0];
                        {#                    filesize = image.size;#}
                        {#                    console.log(filesize);#}
                        {#                    if (filesize > 102400) {#}
                        {#                        layer.msg('图片大小不能100k的图片', {time: 2000, icon: 2});#}
                        {#                        return false;#}
                        {#                    }#}
                    }
                    layer.msg("图片通过", {time: 2000, icon: 6});

                    var img_src = $("#uploadfile_input").val();
                    var formData = new FormData();
                    formData.append("file", image);
                    formData.append('base_pic_url', $('#title_img').attr("src"));
                    formData.append('img_url', img_src);
                    $.ajax({
                        url: "{{ url_for("new_flash.get_info_img_url") }}",
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            $('#title_img').attr("src", data['base_pic_url']);
                            $('#base_pic').attr("class", data['img_url']);
                        }
                    })
                });
            });

        function add_monitor_info() {
            var account_name = $("#account_name").val();
            var account_password = $("#account_password").val();
            var account_rank = $("#account_rank").val();
            var account_article_num = $('#account_article_num').val();
            var account_type = $('#account_type').val();
            var total_read_num = $('#total_read_num').val();
            var total_play_num = $('#total_play_num').val();
            var total_subscribe_num = $('#total_subscribe_num').val();
            var account_index = $('#account_index').val();
            layer.confirm('是否添加？', {
                    btn: ['确认', '取消']
                },
                function () {
                    $.ajax({
                        url: '{{ url_for('new_flash.add_account_info')}}',
                        type: 'post',
                        data: {
                            account_name: account_name,
                            account_password: account_password,
                            account_rank: account_rank,
                            account_article_num: account_article_num,
                            account_type: account_type,
                            total_read_num: total_read_num,
                            total_play_num: total_play_num,
                            total_subscribe_num: total_subscribe_num,
                            account_index: account_index,
                        },
                        success: function (data) {
                            if (data.success == 'ok') {
                                layer.msg("添加成功！", {time: 1000, icon: 1});
                                window.localStorage.setItem("reload", "true");
                                window.history.go(-1);
                            }
                            else {
                                layer.msg("添加失败！", {time: 1000, icon: 5});
                                return false
                            }
                        }
                    });
                },
                function () {
                    layer.msg("已取消", {time: 1000, icon: 2});
                    return false
                });
        }

        function stop_new_flash_content() {
            layer.confirm('是否放弃当前编辑内容？', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                window.location.href = "/monitor_list";
            }, function () {
                layer.msg('未放弃，真棒！', {time: 1000, icon: 6});
                return false;
            });
        }
    </script>
{% endblock %}

