{% extends "/index.html" %}
{% import 'macro_pagination.html' as macro_pagination %}
{% block content %}
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="">文章管理</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="active">文章列表</span>
                            </li>
                        </ul>
                        <!-- Single button -->
                        <div class="row" style="padding-top: 10px">

                            <div class="col-md-8">

                                <button type="button" class="btn blue btn-circle" onclick='add_monitor_info()'
                                        style="margin-left: 10px">新增文章信息
                                </button>
                            </div>
                            <div class="col-md-2">

                                <button type="button" class="btn blue btn-circle"
                                        style="margin-left: 10px" data-toggle="modal" data-target="#myModal">批量设置分类
                                </button>
                            </div>
                             <div class="col-md-2">

                                <button type="button" class="btn blue btn-circle"
                                        style="margin-left: 10px" data-toggle="modal" data-target="#upload_article">批量上传文章
                                </button>
                            </div>

                        </div>

                        <div class="row" style="padding-top: 10px">

                             <div class="col-md-2">
                                <select class="form-control input-small" id="category_type">
                                 <option value=888>全部</option>
                                            {% for x in category_ls %}
                                                <option value={{ x["id"] }}>{{ x["category_name"] }}</option>
                                            {% endfor %}
                                </select>
                             </div>
                            <div class="col-md-2">
                                <select class="form-control input-small" id="is_send">
                                    <option value=888>全部</option>
                                    <option value=0 >未发布</option>
                                    <option value=1 >可发布</option>
                                    <option value=2 >已发布</option>
                                    <option value=3 >发布失败</option>
                                </select>
                             </div>
                            <div class="col-md-2">
                                <select class="form-control input-small" id="control_status">
                                    <option value=888>全部</option>
                                    <option value=0 >未修改</option>
                                    <option value=1 >已修改</option>
                                </select>
                             </div>
                            <div class="col-md-2">
                                    <button type="button" class="btn blue btn-circle"
                                            style="margin-left: 10px" onclick="search()">搜索
                                </button>
                            </div>

                        </div>

                        <div class="row">
                            <div class="portlet-body col-lg-12">
                                <div class="table-scrollable">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>
                                                <button onclick="invent()" type="button"
                                                        class="btn btn-circle red btn-sm">全选
                                                </button>
                                            </th>
                                            <th>ID</th>
                                            <th>文章标题</th>
                                            <th>文章分类</th>
                                            <th>文章类型</th>
                                            <th>文章状态</th>
                                            <th>操作状态</th>
                                            <th>创建日期</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in data %}
                                            <tr id="tr-{{ row['id'] }}">
                                                <td><label>
                                                    <input type="checkbox" name="choice_checkbox" value="{{ row.id }}">
                                                </label></td>
                                                <td>{{ row["id"] }}</td>
                                                <td>{{ row["article_title"]}}</td>
                                                {% for x in category_ls %}
                                                    {% if x["id"] == row["category_type"] %}
                                                        <td id="show_info">{{ x["category_name"] }}</td>
                                                    {% endif %}
                                                {% endfor %}


                                                {% if row["article_type"] == 0 %}
                                                    <td id="show_info">3级图文原创</td>
                                                {% elif row["article_type"] == 1 %}
                                                    <td id="show_info">2级图文原创</td>
                                                {% elif row["article_type"] == 2 %}
                                                    <td id="show_info">3级非图文原创</td>
                                                {% elif row["article_type"] == 3%}
                                                    <td id="show_info">2级非图文原创</td>
                                                {% endif %}

                                                {% if row["is_send"] == 0 %}
                                                    <td id="show_info">未发布</td>
                                                {% elif row["is_send"] == 1 %}
                                                    <td id="show_info">可发布</td>
                                                {% elif row["is_send"] == 2 %}
                                                    <td id="show_info">已发布</td>
                                                {% elif row["is_send"] == 3 %}
                                                    <td id="show_info">发布失败</td>
                                                {% endif %}


                                                {% if row["control_status"] == 0 %}
                                                    <td id="show_info">未修改</td>
                                                {% elif row["control_status"] == 1 %}
                                                    <td id="show_info">已修改</td>
                                                {% endif %}

                                                <td>{{ row["create_time"] }}</td>
                                                <td>
                                                    <button type="button"
                                                            class="btn btn-danger glyphicon glyphicon-pencil" title="编辑"
                                                            onclick="modify_monitor_data({{ row['id'] }})"></button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <input id="hidden_val" type="hidden" value="">

                    {% if pagination %}
                        {{ macro_pagination.pagination_widget(pagination,'new_flash.article_list') }}
                    {% endif %}
                    </div>

                <div class="modal fade" id="myModal" tabindex="-1" role="basic" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">批量设置分类</h4>
                            </div>
                            <div class="modal-body">
                                <div><label class="control-label">账户分类</label>
                                    <select class="form-control input-small" id="category_types">
                                        {% for x in category_ls %}
                                            <option value={{ x["id"] }}>{{ x["category_name"] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn dark btn-outline" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn green" onclick="set_category()">保存</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="upload_article" tabindex="-1" role="basic" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">文章批量上传平台</h4>
                            </div>

                            <form class="form-horizontal" role="form" name="test">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">账户选择</label>
                                        <div class="col-md-4">
                                            <select placeholder="请选择" class="selectpicker" id="account_name"  multiple="multiple" data-live-search="true">
                                                {% for x in acclout_ls %}
                                                    <optgroup label={{ x["type_name"] }}>
                                                    {% for y in x["ls"] %}
                                                        <option value={{ y["id"] }}>{{ y["account_name"] }}</option>
                                                    {% endfor %}
                                                    </optgroup>

                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">类型</label>
                                        <div class="col-md-4">
                                            <select class="form-control input-small" id="account_typess">
                                                <option value=0>3级图文原创</option>
                                                <option value=1>2级图文原创</option>
                                                <option value=2>3级非图文原创</option>
                                                <option value=3>2级非图文原创</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">分类</label>
                                        <div class="col-md-4">
                                            <select class="form-control input-small" id="category_typess">
                                                {% for x in category_ls %}
                                                    <option value={{ x["id"] }}>{{ x["category_name"] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="control-label col-md-2">发送平台</label>
                                            <div class="col-md-4">
                                                <select class="form-control input-small" id="platform_type">
                                                {% for x in platform_ls %}
                                                    <option value={{ x["id"] }}>{{ x["platform_name"] }}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                    </div>
{#                                    <div class="form-group">#}
{#                                        <label class="control-label col-md-2">发送类型</label>#}
{#                                        <div class="col-md-4">#}
{#                                            <select class="form-control" id="send_type">#}
{#                                                <option value=0>手动发送</option>#}
{#                                                <option value=1>定时发送</option>#}
{#                                            </select>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn green" onclick="all_article_uploads()">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script type="text/JavaScript">
        // 批量删除
        function all_article_uploads() {
            var info_id_list = [];
            $("input[name='choice_checkbox']:checked").each(function () {
                info_id_list.push($(this).val());
            });
            if (info_id_list == "") {
                layer.msg("请最少选择一篇文章，再进行该操作");
                return false
            }
            var formData = new FormData();
            alert($("#account_typess").val());
            formData.append('category_type', $("#category_typess").val());
            formData.append('account_type', $("#account_typess").val());
            formData.append('platform_type', $("#platform_type").val());
            formData.append('account_name', $("#account_name").val());
            formData.append('info_id_list', info_id_list);
            {#formData.append('id', {{data["id"]}});#}
            layer.confirm('是否批量文章上传平台？', {
                btn: ['是', '否']
            }, function () {
                $.ajax({
                    url: '{{ url_for('new_flash.all_article_upload')}}',
                    type: 'post',
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (data) {
                        if (data.success == 'ok') {
                            layer.msg("批量上传文章平台设置成功！", {time: 2000, icon: 1});
                            window.location.reload();
                            $("input[name='choice_checkbox']:checked").each(function () {
                                $(this).attr("checked", false);
                            });
                        }
                        else {
                            layer.msg("批量上传文章平台设置失败！", {time: 2000, icon: 5});
                            return false
                        }
                    }
                });
            }, function () {
                layer.msg("已取消", {time: 2000, icon: 2});
                return false
            });
        };
        {#$(function() {#}
        {#    $(".selectpicker").selectpicker({#}
        {#        noneSelectedText : '请选择'//默认显示内容#}
        {#    });#}
        {#{;#}

        function invent() {
                $("input[name='choice_checkbox']").each(function () {
                    if ($(this).prop("checked")) {
                        $(this).attr("checked", false);
                    }
                    else {
                        $(this).prop("checked", true);
                    }
                })
        };


        // 批量删除
        function set_category() {
            var info_id_list = [];
            $("input[name='choice_checkbox']:checked").each(function () {
                info_id_list.push($(this).val());
            });
            if (info_id_list == "") {
                layer.msg("请最少选择一篇文章，再进行该操作");
                return false
            }
            var formData = new FormData();
            formData.append('category_type', $("#category_types").val());
            formData.append('info_id_list', info_id_list);
            {#formData.append('id', {{data["id"]}});#}
            layer.confirm('是否批量设置分类？', {
                btn: ['是', '否']
            }, function () {
                $.ajax({
                    url: '{{ url_for('new_flash.set_category')}}',
                    type: 'post',
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (data) {
                        if (data.success == 'ok') {
                            layer.msg("批量设置成功！", {time: 2000, icon: 1});
                            window.location.reload();
                            $("input[name='choice_checkbox']:checked").each(function () {
                                $(this).attr("checked", false);
                            });
                        }
                        else {
                            layer.msg("批量删除失败！", {time: 2000, icon: 5});
                            return false
                        }
                    }
                });
            }, function () {
                layer.msg("已取消", {time: 2000, icon: 2});
                return false
            });
        };




        function add_monitor_info() {
            window.location.href = "/add_article_info"
        }

        function modify_monitor_data(id) {
            window.location.href = "/modify_article_info?id=" + id;
        }

        function search() {
            var is_send = $("#is_send").val();
            var control_status = $("#control_status").val();
            var category_type = $("#category_type").val();
            window.location.href = "/article_list?category_type="+ category_type+"&is_send="+ is_send +"&control_status=" + control_status

        }
            {#window.location.href = "/add_article_info"#}

    </script>
{% endblock %}

