{% extends "/index.html" %}
{% import 'macro_pagination.html' as macro_pagination %}
{% block content %}
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="">文章管理</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="active">文章列表</span>
                            </li>
                        </ul>
                        <!-- Single button -->
                        <div class="row" style="padding-top: 10px">

                            <div class="col-md-8">

                                <button type="button" class="btn blue btn-circle" onclick='add_monitor_info()'
                                        style="margin-left: 10px">新增文章信息
                                </button>
                            </div>
                            <div class="col-md-2">

                                <button type="button" class="btn blue btn-circle"
                                        style="margin-left: 10px" data-toggle="modal" data-target="#myModal">批量设置分类
                                </button>
                            </div>
{#                            <div class="col-md-2">#}
{#                                <button type="button" class="btn blue btn-circle" onclick='set_type()'#}
{#                                        style="margin-left: 10px">批量设置类型#}
{#                                </button>#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                <button class="btn blue btn-circle pull-right" data-toggle="modal" data-target="#myModal">#}
{#								文章导入#}
{#							</button>#}
{#                            </div>#}
                        </div>
                        <div class="row">
                            <div class="portlet-body col-lg-12">
                                <div class="table-scrollable">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>
                                                <button onclick="invent()" type="button"
                                                        class="btn btn-circle red btn-sm">全选
                                                </button>
                                            </th>
                                            <th>ID</th>
                                            <th>文章标题</th>
                                            <th>文章分类</th>
                                            <th>文章类型</th>
                                            <th>文章状态</th>
                                            <th>创建日期</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in data %}
                                            <tr id="tr-{{ row['id'] }}">
                                                <td><label>
                                                    <input type="checkbox" name="choice_checkbox" value="{{ row.id }}">
                                                </label></td>
                                                <td>{{ row["id"] }}</td>
                                                <td>{{ row["article_title"]}}</td>
                                                {% for x in category_ls %}
                                                    {% if x["id"] == row["category_type"] %}
                                                        <td id="show_info">{{ x["category_name"] }}</td>
                                                    {% endif %}
                                                {% endfor %}


                                                {% if row["article_type"] == 0 %}
                                                    <td id="show_info">3级图文原创</td>
                                                {% elif row["article_type"] == 1 %}
                                                    <td id="show_info">2级图文原创</td>
                                                {% elif row["article_type"] == 2 %}
                                                    <td id="show_info">3级非图文原创</td>
                                                {% elif row["article_type"] == 3%}
                                                    <td id="show_info">2级非图文原创</td>
                                                {% endif %}

                                                {% if row["is_send"] == 0 %}
                                                    <td id="show_info">不可发送</td>
                                                {% elif row["is_send"] == 1 %}
                                                    <td id="show_info">可发送</td>
                                                {% elif row["is_send"] == 2 %}
                                                    <td id="show_info">已发送</td>
                                                {% endif %}

                                                <td>{{ row["create_time"] }}</td>
                                                <td>
                                                    <button type="button"
                                                            class="btn btn-danger glyphicon glyphicon-pencil" title="编辑"
                                                            onclick="modify_monitor_data({{ row['id'] }})"></button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <input id="hidden_val" type="hidden" value="">

                    {% if pagination %}
                        {{ macro_pagination.pagination_widget(pagination,'new_flash.article_list') }}
                    {% endif %}
                    </div>

                <div class="modal fade" id="myModal" tabindex="-1" role="basic" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">批量设置分类</h4>
                            </div>
                            <div class="modal-body">
                                <div><label class="control-label">账户分类</label>
                                    <select class="form-control input-small" id="category_type">
                                        {% for x in category_ls %}
                                            <option value={{ x["id"] }}>{{ x["category_name"] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn dark btn-outline" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn green" onclick="set_category()">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script type="text/JavaScript">
        function invent() {
                $("input[name='choice_checkbox']").each(function () {
                    if ($(this).prop("checked")) {
                        $(this).attr("checked", false);
                    }
                    else {
                        $(this).prop("checked", true);
                    }
                })
            }


        // 批量删除
        function set_category() {
            var info_id_list = [];
            $("input[name='choice_checkbox']:checked").each(function () {
                info_id_list.push($(this).val());
            });
            if (info_id_list == "") {
                layer.msg("请最少选择一篇文章，再进行该操作");
                return false
            }
            var formData = new FormData();
            formData.append('category_type', $("#category_type").val());
            formData.append('info_id_list', info_id_list);
            {#formData.append('id', {{data["id"]}});#}
            layer.confirm('是否批量设置分类？', {
                btn: ['是', '否']
            }, function () {
                $.ajax({
                    url: '{{ url_for('new_flash.set_category')}}',
                    type: 'post',
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (data) {
                        if (data.success == 'ok') {
                            layer.msg("批量设置成功！", {time: 2000, icon: 1});
                            window.location.reload();
                            $("input[name='choice_checkbox']:checked").each(function () {
                                $(this).attr("checked", false);
                            });
                        }
                        else {
                            layer.msg("批量删除失败！", {time: 2000, icon: 5});
                            return false
                        }
                    }
                });
            }, function () {
                layer.msg("已取消", {time: 2000, icon: 2});
                return false
            });
        }

        // 批量删除
        function set_type() {
            var info_id_list = [];
            $("input[name='choice_checkbox']:checked").each(function () {
                info_id_list.push($(this).val());
            });
            if (info_id_list == "") {
                layer.msg("请最少选择一条资讯，再进行该操作");
                return false
            }
            layer.confirm('是否批量删除？', {
                btn: ['是', '否']
            }, function () {
                $.ajax({
                    url: '{{ url_for('new_flash.set_type')}}',
                    type: 'post',
                    data: JSON.stringify(info_id_list),
                    success: function (data) {
                        if (data.success == 'ok') {
                            layser.msg("批量删除成功！", {time: 2000, icon: 1});
                            window.location.reload();
                        }
                        else {
                            layer.msg("批量删除失败！", {time: 2000, icon: 5});
                            return false
                        }
                    }
                });
            }, function () {
                layer.msg("已取消", {time: 2000, icon: 2});
                return false
            });
        }


        {##initUpload("excelFile","excelC.zcUserC.excelInput.do");#}
							function initUpload(ctrlName,uploadUrl){
								var control = $("#"+ctrlName);
								control.fileinput({
									language:"zh",//设置语言
									uploadUrl:uploadUrl,//上传的地址
									uploadAsync:true,//默认异步上传
									showCaption:true,//是否显示标题
									showUpload:true,//是否显示上传按钮
									browseClass:"btn btn-primary",//按钮样式
									allowedFileExtensions: ["xls", "xlsx", "doc"], //接收的文件后缀
									maxFileCount: 20,//最大上传文件数限制
									previewFileIcon:'<i class="glyphicon glyphcion-file"></i>',
									showPreview: true, //是否显示预览
 									allowPreviewTypes:null,//是否显示预览
									previewFileIconSettings:{
										'docx':'<i class="glyphicon glyphcion-file"></i>',
										'xlsx':'<i class="glyphicon glyphcion-file"></i>',
										'pptx':'<i class="glyphicon glyphcion-file"></i>',
										'jpg':'<i class="glyphicon glyphcion-picture"></i>',
										'pdf':'<i class="glyphicon glyphcion-file"></i>',
										'zip':'<i class="glyphicon glyphcion-file"></i>',
									},
									uploadExtraData:function(){
										var account_type = $("#account_type").val();
										var category_type = $("#category_type").val();
										return {"account_type": account_type,"category_type":category_type};
									}
								});
							}

							$("#excelFile").on("fileuploaded",function(exevt,data,previewId,index){
								console.log("data:"+data.response.success);
// 								alert(data);
								if(data.response.success == "ok"){
									alert("导入成功！");
									$("#excelFile").fileinput("clear");
									$("#excelFile").fileinput("reset");
									$("#excelFile").fileinput("refresh");
									$("#excelFile").fileinput("enable");
									$(".close").click();
									$("#reload").click();
								}else{
									alert("导入失败:"+data.response.message);
									$("#excelFile").fileinput("clear");
									$("#excelFile").fileinput("reset");
									$("#excelFile").fileinput("refresh");
									$("#excelFile").fileinput("enable");
								}
							});

        //初始化控件initFileInput(id,uploadurl)控件id，与上传路径
        initUpload("excelFile", "/article_file_upload");

        function insitFileInput(ctrlName, uploadUrl) {
              var control = $('#' + ctrlName);
              control.fileinput({
                resizeImage : true,
                maxImageWidth : 200,
                maxImageHeight : 200,
                resizePreference : 'width',
                language : 'zh', //设置语言
                uploadUrl : uploadUrl,
                uploadAsync : true,
                allowedFileExtensions : ['xls','xlsx'],//接收的文件后缀
                showUpload : true, //是否显示上传按钮
                showCaption : true,//是否显示标题
                browseClass : "btn btn-primary", //按钮样式
                previewFileIcon : "<i class='glyphicon glyphicon-king'></i>",
                maxFileCount : 3,
                msgFilesTooMany : "选择图片超过了最大数量",
                maxFileSize : 2000,
              });

            };

        function add_monitor_info() {
            window.location.href = "/add_article_info"
        }

        function modify_monitor_data(id) {
            window.location.href = "/modify_article_info?id=" + id;
        }

    </script>
{% endblock %}

